/* Write your CSS here */
.hide-container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 32px;
  color: aliceblue;
  text-align: center;
}
.show-hide-card {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.first-card {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  height: 30px;
  width: 150px;
  padding: 6px;
  background-color: aliceblue;
  border: 0px none;
  border-radius: 8px;
  text-align: center;
  font-family: 'Roboto';
  color: #fc63a7;
  font-weight: bold;
}
.firstClass {
  font-family: 'Roboto';
  color: #black;
  padding: 40px;
  width: 200px;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
}
